* {
  box-sizing: border-box;
  font-family: "Open Sans";
}

h1, 
label,
li,
.col-buttons {
  color: #fff;
}

header {
  background-color: #75e2e6;
  border-bottom: 3px solid #048eaa;
  height: 85px;
  margin-top: 0px;
  width: 100%;
}

ul {
  float: right;
  margin-top: 20px;
  padding: 5px;
  width: 55%;
}

li {
  color: black;
  display: inline-block;
  float: right;
  font-size: 18px;
  font-weight: 600;
  width: 24%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}

main {
  width: 100%;
}

section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://lh3.googleusercontent.com/vdRjh9sPCq53CNwab5zOUkXr1BB9j8drpLYqdAFYJcEXvnS9s9KvqVJYDN_4B3G2Hq38Igl9Be7cNa8rKFA2-lmA4FYZQcwnb7v3tEFMMOzxXVKACm9VW92XgU7Pc6HGi8JGrXqsZ4L9pAkRU3eAn5Moicj6DNsUdy3nGxYEpvmtQ-tZwF72-6mDaPvyn7qIeWYV32qbyFU5BMP3JlWVvQxOmdJLfyKczzIYEik7kP63KpQytgIyFXCu7Y8nXsdF4PwulbNPONYVrMfAaTjxQcZSu0CQKsdc11ne1BSx8Su8k7WNcsVg0cbtDuFDWGq42W4HMwtS3lu_RWDLnJ2C6RaQ26E29PFOQdFbCL6L0SmH3Qnj71t1rUARgAboyBD0FXnVqmg68hKHw6AHf2GNeZUp7IAfb4kIsnjljwJsV0wn1MpkC9tsQiyOTlgv2GzULUsay5rl6JiXhmJ8g2CFeMK1mfbMVaRuvkatOnzNJwIgvkizVlcMJT_2CM9B0aZuXSz6D04tiir5KdUk-VIlu42u86KsZ-tNbnjjqpT_UpbgcuGy-TcOhkAr8f2lMkJukzl4uHSquyvKst6qTaaAytj0XBA=w2722-h1374');
  background-repeat: no-repeat;
  background-size: 100% 489px;
  height: 550px;
  margin: auto;
  width: 100%;
  z-index: 0;
}

h1 {
  font-size: 35px;
  font-weight: 300;
  height: 25px;
  margin: 0px auto 0px auto;
  padding: 40px 0px 30px 0px;
  text-align: center;
  width: 100%;
}

h2 {
  text-align: center;
  width: 70%;
}

h3 {
  color: #ffffff;
  font-weight: 400;
  padding-top: 70px;
  word-spacing: 1;
}

input {
  font-size: 20px;
  height: 50px;
  margin:10px 0px 0px 32%;
  padding: 0px;
  text-align: center;
  width: 35%;
}

label {
  margin-left: 32%;
}

p {
  color: #000000;
  text-align: left;
  width: 87%;
}

footer {
  display: inline-block;
  background-color: #048eaa;
  height: 250px;
  margin-top: 55px;
  text-align: center;
  width: 100%;
}

.name-dog-button {
  background-color: #75e2e6;
  font-size: 20px;
  font-weight: 500;
  height: 45px;
  margin: 25px 0px 0px 32%;
  width: 35%;
}

.dog1 {
  border-radius: 50%;
  border: solid 4px #048eaa;
  margin: 40px 0px 0px 41%;
}

.dogs {
  border-radius: 50%;
  border: solid 4px #048eaa;
  margin-left: 30px;
}

.icon-image {
  padding: 7px 5px 10px 25px;
}


.columns {
  display: inline-block;
  float: left;
  margin: 25px 0px 0px 4%;
  padding-left: 20px;
  width: 28%;
}

.col-buttons {
  background-color: #058eaa;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  width: 100%;
}

.col-buttons:hover {
  color: red;
}

.how-button {
  margin-top: 30px;
}

.what-button {
  margin-top: 2px;
}

.facts-button {
  margin-top: 44px;
}

.twitter-img,
.instagram-img,
.fb-image,
.lnk-img {
  padding-right: 15px;
}

@media screen and (max-width: 1095px) {

  ul {
    margin: 20px 5% 0px 0px;
    width: 60%;
  }

  .dog1 {
    margin-left: 30%;
  }

  .dogs {
    margin-left: 0px;
  }
}

@media screen and (max-width: 777px) {

h2 {
  width: 100%;
}

li {
  width: 30%;
 }

p {
  text-align: center;
}

input {
  margin: 10px 0px 0px 14%;
  width: 75%;
}

h1 {
  font-size: 21px;
}

.dog1 {
  margin-left: 23%;
}
.name-dog-button {
  font-size: 15px;
  font-weight: 600;
  margin: 25px 0px 0px 14%; 
  width: 75%;
}

.columns {
  text-align: center;
  width: 90%;
}

.remove-text {
  visibility: hidden;
 }
