
h1 {
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 37px;
  font-weight: 300;
  height: 25px;
  margin-left: 37%;
  margin-top: 0px;
  padding-bottom: 30px;
  padding-top: 40px;
  width: 30%;
}
h2 {
  margin-left: 25%;
  text-align: center;
  width: 50%;
}
h3 {
  color: #ffffff;
  font-weight: 500;
  padding-top: 70px;
  word-spacing: 1;
}
ul {
  float: right;
  margin-top: 10px;
  margin: 5px;
  padding-top: 15px;
  padding: 5px;
}
li {
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  padding-right: 25px;
}
nav {
  background-color: #75e2e6;
  border-bottom: 3px solid;
  border-color: #048eaa;
  box-sizing: border-box;
  height: 85px;
  padding-bottom: 20px;
  padding-top: 5px;
  width: 100%;
}
p {
  font-weight: 540;
  margin-left: 85px;
}

.hdimg {
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 5px;
  padding-top: 7px;
  width: 6%;
}

.dog1 {
  border-radius: 50%;
  border-style: solid;
  border: 4px #048eaa;
  height: 195px;
  margin: auto;
  overflow: auto;
  width: 200px;
  z-index: 1;
}
.dog2 {
  border-radius: 50%;
  border-style: solid;
  border: 4px #048eaa;
  height: 195px;
  margin: auto;
  overflow: auto;
  padding-right: 10px;
  width: 200px;
  z-index: 1;
}
.dog3 {
  border-radius: 50%;
  border-style: solid;
  border: 4px #048eaa;
  height: 195px;
  margin-left: 90px;
  overflow: auto;
  width: 200px;
  z-index: 1;
}
.dog4 {
  border-radius: 50%;
  border-style: solid;
  border: 4px #048eaa;
  height: 195px;
  margin: auto;
  overflow: auto;
  width: 200px;
  z-index: 1;
}

section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://lh3.googleusercontent.com/vdRjh9sPCq53CNwab5zOUkXr1BB9j8drpLYqdAFYJcEXvnS9s9KvqVJYDN_4B3G2Hq38Igl9Be7cNa8rKFA2-lmA4FYZQcwnb7v3tEFMMOzxXVKACm9VW92XgU7Pc6HGi8JGrXqsZ4L9pAkRU3eAn5Moicj6DNsUdy3nGxYEpvmtQ-tZwF72-6mDaPvyn7qIeWYV32qbyFU5BMP3JlWVvQxOmdJLfyKczzIYEik7kP63KpQytgIyFXCu7Y8nXsdF4PwulbNPONYVrMfAaTjxQcZSu0CQKsdc11ne1BSx8Su8k7WNcsVg0cbtDuFDWGq42W4HMwtS3lu_RWDLnJ2C6RaQ26E29PFOQdFbCL6L0SmH3Qnj71t1rUARgAboyBD0FXnVqmg68hKHw6AHf2GNeZUp7IAfb4kIsnjljwJsV0wn1MpkC9tsQiyOTlgv2GzULUsay5rl6JiXhmJ8g2CFeMK1mfbMVaRuvkatOnzNJwIgvkizVlcMJT_2CM9B0aZuXSz6D04tiir5KdUk-VIlu42u86KsZ-tNbnjjqpT_UpbgcuGy-TcOhkAr8f2lMkJukzl4uHSquyvKst6qTaaAytj0XBA=w2722-h1374');
  background-repeat: no-repeat;
  background-size: 100% 550px;
  height: 550px;
  margin: auto;
  width: 100%;
  z-index: 0;
}
input {
  font-size: 20px;
  height: 50px;
  margin-left: 35%;
  padding: none;
  text-align: center;
  width: 29%;
}

.namelink {
  background-color: #75e2e6;
  font-family: 'open sans';
  font-size: 20px;
  font-weight: 550;
  height: 45px;
  margin-left: 35%;
  margin-top: 15px;
  padding-top: 20px;
  text-align: center;
  width: 29%;

}
.name {
  color: #ffffff;
  font-family: 'open sans';
  font-size: 20px;
  margin-left: 35%;
}
.col1 {
  display: inline-block;
  float: left;
  font-family: 'open sans';
  margin-left: 30px;
  margin-top: 25px;
  padding-left: 20px;
  text-align: left;
  width: 28%;
}
.col2 {
  display: inline-block;
  float: center;
  font-family: 'open sans';
  margin-left: 70px;
  margin-top: 25px;
  text-align: left;
  width: 28%;
}

.col3 {
  display: inline-block;
  float: right;
  font-family: 'open sans';
  margin-bottom: 5px;
  margin-right: 30px;
  margin-top: 25px;
  text-align: left;
  width: 28%;
}
.how {
  background-color: #058eaa;
  color: #ffffff;
  height: 40px;
  margin-top: 35px;
  padding-top: 20px;
  text-align: center;
  width: 100%;
}
.what {
  background-color: #058eaa;
  color: #ffffff;
  height: 40px;
  padding-top: 20px;
  text-align: center;
  width: 100%;
}
.facts {
  background-color: #048eaa;
  color: #ffffff;
  float: right;
  height: 40px;
  margin-right: 5px;
  margin-top: 35px;
  padding-top: 20px;
  text-align: center;
  width: 100%;
}
footer {
  background-color: #048eaa;
  height: 250px;
  margin-top: 55px;
  text-align: center;
  width: 100%;
}
.twitter {
  display: inline-block;
  padding-right: 10px;
  padding-top: 20px;
}
.instagram {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}
.fb {
  display: inline-block;
  padding-left: 10px;
  padding-top: 20px;
}
.lnk {
  display: inline-block;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 20px;
}
@media only screen and (max-device-width: 414px) {
  ul {
  float: left;
  margin-top: 10px;
  margin: 0px;
  padding-top: 0px;
  width: 45%;
  }
 .hdimg {
  display: inline-block;
  float: right;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 15%;
}

h1 {
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 27px;
  font-weight: 300;
  height: 25px;
  margin-left: 15%;
  margin-top: 0px;
  padding-bottom: 30px;
  padding-top: 20px;
  width: 100%;
}
h2 {
  margin-bottom: 15px;
  margin-left: 40px;
  text-align: center;
  width: 175px;
}
p {
  display: block;
  margin: auto;
  margin-left: 25%;
  font-weight: 540;
  padding-left: 0px;
}
.col1 {
  width: 28%;
  display: block;
  text-align: left;
  float: left;
  font-family: 'open sans';
  margin-top: 25px;
  margin-left: 20%;
  padding-left: 20px;
}
.col2 {
  width: 28%;
  display: block;
  text-align: left;
  font-family: 'open sans';
  margin-top: 25px;
  margin-left: 15%;
  float: left;
  clear: both;
}
.col3 {
  float:left;
  clear: both;
  display: block;
  width: 38%;
  height: 100%;
  text-align: left;
  font-family: 'open sans';
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 15px;
}
footer {
  display: none;
}
br {
  display: none;
}
}
